.section-header {
    position: relative;
  }
  
  .section-title {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
    position: relative;
    margin-bottom: 75px;
  }
  
  .section-title.divider {
    width: 100%;
  }
  
  .section-title.divider:after {
    content: "";
    border-bottom: 3px solid #74642F;
    position: absolute;
    right: 0;
    bottom: -16px;
    left: 0;
    width: 50px;
  }
  
  .section-header .section-title:before,
  .section-header .section-title:after {
    content: "";
    border-bottom: 1px solid #E0E0E0;
    position: absolute;
    top: 30px;
    width: 25%;
    align-items: center;
  }
  
  .section-header .section-title:before {
    left: 3px;
  }
  
  .section-header .section-title:after {
    right: 3px;
  }
  
  .section-header .title span {
    font-size: 14px;
    color: #afafaf;
    text-transform: uppercase;
  }
  
  
  @media screen and (max-width: 1366px) {
  
    .section-header .section-title:before,
    .section-header .section-title:after {
      width: 30%;
    }
  }
  
  @media screen and (max-width: 999px) {
  
    .section-header .section-title:before,
    .section-header .section-title:after {
      width: 25%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section-title {
      font-size: 2em;
    }
  
    .section-header .section-title:before,
    .section-header .section-title:after {
      top: 60px;
      width: 100%;
    }
  }
  
  /* -- Image Dimension
  --------------------------------------------------------------*/
  img.post-image {
    width: 100%;
    height: 328px;
    object-fit: cover;
  }
  
  /*----- Best Selling Section Section
  --------------------------------------------------------------*/
  #best-selling {
    background: #EDEBE4;
    padding: 120px 0;
  }
  #best-selling .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #best-selling .products-thumb {
    margin-right: 60px;
    box-shadow: 2px 6px 34px 4px rgba(63, 63, 63, 0.08);
  }
  
  #best-selling .product-entry {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #best-selling .section-title{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  #best-selling .product-entry h3.item-title {
    font-size: 1.8em;
    font-weight: 100;
    margin-top: 15px;
  }
  #best-selling .products-content{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  #best-selling .product-entry .item-price {
    font-size: 1.5em;
    color: #74642F;
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 768px) {
    #best-selling .products-thumb {
      margin: 0;
    }
  }