.card {
    /* Adjust the width as needed */
    width: 180px;
    max-width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
    
  }
  
  .card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  .price {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 3px;
  }
  
  .rating {
    font-size: 16px;
    margin: 5px 0;
  }
  
  
  .add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
  }